ul{
    list-style-type: none;
    display: flex;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
header{
    background-image: url(../jpg/Es\ este.jpg);
  
}
main{
    background-color: pink;
}
footer{ background-color:rgb(241, 222, 222);

    }   
h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
h1{
    text-align: center;
    color: black;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    text-align: right;
}
p{
    text-align: center;
    text-align: justify;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
nav{
    height: 60px;
    text-align: center;
    display: flex;
    background-color: pink;
    width: 100%;
    height: 150px; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  nav ul{
     list-style: none;
     display: inline-block;
     padding:18px;
  }
  nav ul li{
      float: left;
      margin-top: 5px;
  }
  li{
    border-radius: 3px;
    margin: 0 10px;
}
body{
    flex-direction: row;
    flex-wrap: nowrap;
}
/*estes es el padre*/
#grilla{    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    background-color: rgb(241, 222, 222);
    justify-items: center; /*centra a los hijos*/ /*arma la estructura y poner contenedores*/
    align-items: center; /*centra a los hijos*/
    justify-content: center; /*ordena en el eje x, allinear las columnas*/
    align-items: center; /*acomoda a los hijos y alinea lasfilas*/
    flex-direction: row;
}
#grilla div{ 
        background-color: pink; /*modificar el color del hijo*/
        width: 90%; /*modificar el ancho del cuadrado hijo los div*/
        height: 90%; /*modifica el alto*/
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        display: flex;
      }

 .fotos{
        width: 30%;
        margin-bottom:20px;
        width: 100%;
        height:210px;
        border-radius: 5px;

    }
 .fotos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .video{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
#padre{
    display: flex;
    background-color: pink;
    width: 100%;
    height: 700px; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
    .box-premium{
    width: 20%;
    height: 200px;
    order: 3;
    display: flex;
  }
  .mascarilla-de-paltas{
    width: 20%;
    height: 200px;
    order: 4;
    display: flex;
  }
  .tipos-de-piel{
    width: 20%;
    height: 200px;
    order: 2;
    display: flex;
  }
  .aceite-de-ricino{
    width: 20%;
    height: 200px;
    order: 1;
    display: flex;
  }
  footer .contacto  input[type="text"], footer .contacto  input[type="email"],
footer .contacto  textarea{
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color:rgb(204, 204, 204);
    border: 2px solid rgba(204, 204, 204, 0.383);
    font-family: 'lato';
    font-weight: 300;
}
.derecha{
   display: flex;
   justify-content: flex-end;
}
footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #15a4fa;
    border-radius: 5px;
    cursor: pointer;
    float:right;

}
footer .contacto  input[type="submit"]:hover{
    background: #15a4fa;

}

.footer{
    height:200px;
    background: #000;
}
